/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

body {
    height: 100vh;
    width: 100vw;
    background-color: white;
    font-family: 'Nunito';
    position: absolute;
}

header {
    background-color: rgb(37, 37, 37);
    position: fixed;
    margin-top: -20px;
    margin-left: -8px;
    height: 100px;
    width: 100vw;
}

#logo {
    display: flex;
    justify-content: left;
    position: absolute;
    color: rgb(42, 171, 226);
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.nav-links {
    color: white;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 20px;
}

nav ul li {
    padding-left: 80px;
}

.main-content {
    float: left;
    width: 50vh;
}

section {
    margin: 80px 200px 10px 150px;
    padding: 30px;
}

.profile-box {
    width: 300px;
    height: 300px;
    float: right;
    text-align: center;
    border-radius: 10px;
    border-color: transparent;
    border: 1px none;
    box-shadow: 0px 0px 40px 5px rgba(102, 75, 75, .3);
}

.profile-pic {
    width: 200px;
    heigth: 200px;
    padding-top: 15px;
}

.articles-box {
    width: 200px;
    height: 350px;
    float: right;
    border-radius: 10px;
    border-color: transparent;
    border: 1px none;
    box-shadow: 0px 0px 40px 5px rgba(102, 75, 75, .3);
}

#pop-art {
    text-align: center;
}

.gallery-section {
    width: 50vw;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-around;
}

h4 {
    color:rgb(42, 171, 226);
}

.img-gallery {
    width: 150px;
    height: 150px;
    margin: 40px;
}

footer {
    background-color: rgb(42, 171, 226);
    height: 60px;
    width: 100vw;
}

.bottom-words {
    float: left;
    margin-left: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#question-box {
    background-color: rgb(42, 171, 226);
    border: 2px solid black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    float: right;
    padding: 1px;
    margin-top: 15px;
    margin-right: 15px;
}
.p {
    margin: auto;
    text-align: center;
}






